* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.root {
	padding: 2vw;
	background-image: linear-gradient(to right bottom, #e8ebf0, #6d798a, #6197d1, #2b96ee, #012538);
	width: 100%;
	height: 100%;
	color: rgb(5, 5, 5);
	font-family: poppins;
	min-height: 100vh;
}

.heading {
	text-align: center;
	font-family: 'Fira Code', monospace;
	font-size: 3rem;
	margin-bottom: 60px;
}

.sub-heading {
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
}

.location-container {
	margin: 40px 0;
}

.loc-input {
	border: 3px solid #269fe6;
	font-size: 1rem;
	padding: 8px;
	border-radius: 6px;
	margin: 10px;
	width: 270px;
}

.loc-input:invalid {
	border: 3px solid #f50404;
}

.search-btn {
	padding: 10px 14px;
	background-color: #079bf7;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	border-radius: 4px;
	color: rgb(7, 7, 7);
	margin: 10px;
	cursor: pointer;
}

.air-quality, .arr, .air-quality-status {
	font-size: 4rem;
	font-weight: 700;
}
